<form id="<BINDING:UNIQUE_ID>" name="<BINDING:FORM_NAME>" method="<BINDING:METHOD>" title="<BINDING:PARENT_BINDING_NAME>" <BINDING_IF:HAS_ENC_TYPE>enctype="<BINDING:ENC_TYPE>" </BINDING_IF:HAS_ENC_TYPE>action="<BINDING_IF:HAS_URL><BINDING:URL><BINDING_ELSE:HAS_URL><BINDING_IF:HAS_SERVER><BINDING_IF:HAS_PROTOCOL><BINDING:PROTOCOL>://</BINDING_IF:HAS_PROTOCOL><BINDING:SERVER></BINDING_IF:HAS_SERVER><BINDING:ACTION><BINDING_IF:HAS_ANCHOR>#<BINDING:ANCHOR></BINDING_IF:HAS_ANCHOR></BINDING_IF:HAS_URL>"  <BINDING:TAG_ATTRIBUTES>>
<script type="text/javascript">
	IF.setupFn['<BINDING:UNIQUE_ID>'] = function(controller) { 
	<BINDING_IF:CAN_ONLY_BE_SUBMITTED_ONCE>controller.setCanOnlyBeSubmittedOnce(1);</BINDING_IF:CAN_ONLY_BE_SUBMITTED_ONCE>
	<BINDING_IF:HAS_VALIDATION_ERROR_MESSAGES><BINDING_LOOP:VALIDATION_ERROR_MESSAGES>
		controller.setErrorMessageForKey(<BINDING:A_VALIDATION_ERROR_MESSAGE_TEXT />, <BINDING:A_VALIDATION_ERROR_MESSAGE_KEY />);	
	</BINDING_LOOP:VALIDATION_ERROR_MESSAGES></BINDING_IF:HAS_VALIDATION_ERROR_MESSAGES>
	};
</script>
<BINDING_IF:HAS_QUERY_DICTIONARY><BINDING_LOOP:QUERY_DICTIONARY><BINDING:HIDDEN_KEY_VALUE>
	</BINDING_LOOP:QUERY_DICTIONARY></BINDING_IF:HAS_QUERY_DICTIONARY>
	<BINDING:CONTENT>
</form>
