<span id="<BINDING:UNIQUE_ID>"><!-- radiobutton group -->
<BINDING_IF:SHOULD_RENDER_IN_TABLE>
<table>
	<!-- TODO: implement isVerticalLayout here for table too -->
	<BINDING_LOOP:LIST>
		<tr><td>
		<input type="radio" name="<BINDING:NAME>" value="<BINDING:VALUE>" <BINDING_IF:IS_SELECTED> CHECKED</BINDING_IF:IS_SELECTED> %_TAG_ATTRIBUTES_% />
		</td><td><BINDING:DISPLAY_STRING>
		</td></tr>
	</BINDING_LOOP:LIST>
</table>
<BINDING_ELSE:SHOULD_RENDER_IN_TABLE>
	<BINDING_LOOP:LIST>
		<BINDING:BUTTONS><input type="radio" name="<BINDING:NAME>" value="<BINDING:VALUE>" <BINDING_IF:IS_SELECTED> CHECKED</BINDING_IF:IS_SELECTED> %_TAG_ATTRIBUTES_% /></BINDING:BUTTONS> <BINDING:LABELS><BINDING:DISPLAY_STRING></BINDING:LABELS><BINDING_IF:IS_VERTICAL_LAYOUT><br></BINDING_IF:IS_VERTICAL_LAYOUT>
	</BINDING_LOOP:LIST>
</BINDING_IF:SHOULD_RENDER_IN_TABLE>
<BINDING_IF:SHOULD_ENABLE_CLIENT_SIDE_SCRIPTING><!-- script for radiobutton group goes here -->
</BINDING_IF:SHOULD_ENABLE_CLIENT_SIDE_SCRIPTING>
<script type="text/javascript">
	jQuery(function () {
		console.log('Setting up radio button group: <BINDING:UNIQUE_ID>');
		var c = new IFRadioButtonGroup("<BINDING:UNIQUE_ID>", "<BINDING:PARENT_BINDING_NAME>", "<BINDING:NAME>");
		c.setIsRequired(<BINDING:IS_REQUIRED>);
		<BINDING_IF:HAS_REQUIRED_MESSAGE>
			c.setErrorMessageForKey("<BINDING:REQUIRED_MESSAGE>", "IS_REQUIRED");
		</BINDING_IF:HAS_REQUIRED_MESSAGE>
	});
</script>