<textarea name="<BINDING:NAME>" id="<BINDING:UNIQUE_ID>" title="<BINDING:PARENT_BINDING_NAME>" <BINDING:TAG_ATTRIBUTES> <TMPL_IF BINDING:ROWS>rows="<BINDING:ROWS>"</TMPL_IF> <TMPL_IF BINDING:COLUMNS>cols="<BINDING:COLUMNS>"</TMPL_IF>><BINDING:VALUE></textarea><span id="<BINDING:UNIQUE_ID>-error" class="error" style="display:none;"></span>
<script type="text/javascript">
IF.setupFn['<BINDING:UNIQUE_ID>'] = function (controller) { 
	controller.setIsRequired(<BINDING:IS_REQUIRED>);<BINDING_IF:HAS_REQUIRED_MESSAGE>
		controller.setRequiredErrorMessage("<BINDING:REQUIRED_MESSAGE>");</BINDING_IF:HAS_REQUIRED_MESSAGE>
};
</script>