<html>
    <head><%_PAGE_RESOURCES_%></head>
    <body>
        <binding:form>
        <dl>
            <dd>radio buttons</dd>
            <dt><binding:radio_button_group /></dt>

            <dd>check box group</dd>
            <dt><binding:check_box_group /></dt>

            <dd>text field</dd>
            <dt><binding:text_field banana="mango" loquat="feijoa" /></dt>

            <dd>text</dd>
            <dt><binding:text rows="5" cols="30" /></dt>

            <dd>hidden field</dd>
            <dt><binding:hidden_field /></dt>

            <dd>pop up menu</dd>
            <dt><binding:pop_up_menu /></dt>

            <dd>scrolling list</dd>
            <dt><binding:scrolling_list /></dt>

            <dd>selection</dd>
            <dt><binding:selection /></dt>

            <dd><binding:submit_button value="click!" /></dd>
        </dl>
        </binding:form>
    </body>
</html>
