<span id="<BINDING:UNIQUE_ID>">
<BINDING_IF:SHOULD_RENDER_IN_TABLE>
<table>
	<TMPL_LOOP name=BINDING:LIST>
		<tr><td>
		<BINDING:CHECKBOXES><input type="checkbox" name="<BINDING:NAME>" value="<BINDING:VALUE>" <BINDING_IF:IS_SELECTED> CHECKED</BINDING_IF:IS_SELECTED> %_TAG_ATTRIBUTES_% /></BINDING:CHECKBOXES>
		</td><td><BINDING:LABELS><BINDING:DISPLAY_STRING></BINDING:LABELS>
		</td></tr>
	</TMPL_LOOP>
</table>
<BINDING_ELSE:SHOULD_RENDER_IN_TABLE>
	<TMPL_LOOP name=BINDING:LIST>
		<BINDING:CHECKBOXES><input type="checkbox" name="<BINDING:NAME>" value="<BINDING:VALUE>" <BINDING_IF:IS_SELECTED> CHECKED</BINDING_IF:IS_SELECTED> %_TAG_ATTRIBUTES_% /></BINDING:CHECKBOXES>  <BINDING:LABELS><BINDING:DISPLAY_STRING></BINDING:LABELS><br>
	</TMPL_LOOP>
</BINDING_IF:SHOULD_RENDER_IN_TABLE>
</span><script type="text/javascript">
	jQuery(function () {
		console.log('Setting up check box group: <BINDING:UNIQUE_ID>');
		var c = new IFCheckBoxGroup("<BINDING:UNIQUE_ID>", "<BINDING:PARENT_BINDING_NAME>", "<BINDING:NAME>");
		c.setIsRequired(<BINDING:IS_REQUIRED>);
		<BINDING_IF:HAS_REQUIRED_MESSAGE>
			c.setErrorMessageForKey("<BINDING:REQUIRED_MESSAGE>", "IS_REQUIRED");
		</BINDING_IF:HAS_REQUIRED_MESSAGE>
		<BINDING_IF:HAS_INIT_CODE>
			<BINDING:INIT_CODE>(c);
		</BINDING_IF:HAS_INIT_CODE>
	});
</script>
