<span id="<binding:unique_id>">
<binding_if:should_render_in_table>
<table>
	<binding_loop:list>
		<tr><td>
		<binding:checkboxes><input type="checkbox" name="<binding:name>" value="<binding:value>" <binding_if:is_selected> CHECKED</binding_if:is_selected> %_TAG_ATTRIBUTES_% /></binding:checkboxes>
		</td><td><binding:labels><binding:display_string></binding:labels>
		</td></tr>
	</binding_loop:list>
</table>
<binding_else:should_render_in_table>
	<binding_loop:list>
		<binding:checkboxes><input type="checkbox" name="<binding:name>" value="<binding:value>" <binding_if:is_selected> CHECKED</binding_if:is_selected> %_TAG_ATTRIBUTES_% /></binding:checkboxes>  <binding:labels><binding:display_string></binding:labels><br>
	</binding_loop:list>
</binding_if:should_render_in_table>
</span><script type="text/javascript">
	jQuery(function () {
		console.log('Setting up check box group: <binding:unique_id>');
		var c = new IFCheckBoxGroup("<binding:unique_id>", "<binding:parent_binding_name>", "<binding:name>");
		c.setIsRequired(<binding:is_required />);
		<binding_if:has_required_message>
			c.setErrorMessageForKey("<binding:required_message>", "IS_REQUIRED");
		</binding_if:has_required_message>
		<binding_if:has_init_code>
			<binding:init_code>(c);
		</binding_if:has_init_code>
	});
</script>
