<span id="<binding:unique_id>">
<binding_if:should_render_in_table>
<table>
	<binding_loop:list>
		<tr><td>
		<binding:checkboxes><input type="checkbox" name="<binding:name>" value="<binding:value>" <binding_if:is_selected> CHECKED</binding_if:is_selected> %_TAG_ATTRIBUTES_% /></binding:checkboxes>
		</td><td><binding:labels><binding:display_string></binding:labels>
		</td></tr>
	</binding_loop:list>
</table>
<binding_else:should_render_in_table>
	<binding_loop:list>
		<binding:checkboxes><input type="checkbox" name="<binding:name>" value="<binding:value>" <binding_if:is_selected> CHECKED</binding_if:is_selected> %_TAG_ATTRIBUTES_% /></binding:checkboxes>  <binding:labels><binding:display_string></binding:labels><br>
	</binding_loop:list>
</binding_if:should_render_in_table>
</span>
