<textarea name="<binding:name />" id="<binding:unique_id />" title="<binding:parent_binding_name />" <binding:tag_attributes /> <binding_if:rows>rows="<binding:rows />"</binding_if:rows> <binding_if:columns>cols="<binding:columns />"</binding_if:columns>><binding:value /></textarea><span id="<binding:unique_id />-error" class="error" style="display:none;"></span>
<script type="text/javascript">
IF.setupFn['<binding:unique_id />'] = function (controller) {
	controller.setIsRequired(<binding:is_required />);<binding_if:has_required_message>
	controller.setRequiredErrorMessage("<binding:required_message />");</binding_if:has_required_message>
};
</script>
